
.search-bar {
     z-index: 1000;
     position: relative;
     .search-area {
          max-width: 220px;
          display: flex;
          input {
               height: 20px;
               width: 100%;
               display: block;
               background-color: transparent;
               border: none;
               font-weight: 600;
               padding: 0 10px 0 10px;
               //background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='%238b939c' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3e%3ccircle cx='11' cy='11' r='8'/%3e%3cpath d='M21 21l-4.35-4.35'/%3e%3c/svg%3e");
               background-repeat: no-repeat;
               background-size: 15px;
               background-position: 15px 50%;
               color: var(--body-color);
               font-family: var(--body-font);
               &::placeholder {
                    color: var(--placeholder);
               }
          }
          button {
               color: var(--base-blur-text-color);
               border: none;
               background: none;
               cursor: pointer;
               &:hover{
                    color: var(--body-color-light);
                    transition: 0.3s;
               }
          }
     }
}

.hint-list {
     position: absolute;
     width: 200px;
     ul {
          border-right: rgba(0, 0, 0, 0.18) solid 1px;
          border-left: rgba(0, 0, 0, 0.18) solid 1px;
          list-style-type: none;
          padding: 0;
          li {
               padding: 10px;
               border-bottom: rgba(0, 0, 0, 0.18) solid 1px;
          }
     }
}


